.cnt {
    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.h2 {
    font-size: 55px;
}

.form-container button {
    margin-left: 20px;
}
.label {
    padding-right: 10px;
}